/* https://github.com/altercation/solarized#precision-colors-for-machines-and-people */
/* https://github.com/altercation/solarized/tree/master/iterm2-colors-solarized#the-values */
:root {
  --solarized-base03: #002b36;
  --solarized-base01: #586e75;
  --solarized-base0: #839496;
  --solarized-violet: #6c71c4;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--solarized-base03);
    color: var(--solarized-base0);
  }

  .about a {
    color: var(--solarized-violet);
  }

  .picture {
    background-image: url("../images/cv-solarized-base0.png?v08293754776957998");
    background-size: 100%;
  }

  .latest-projects-and-roles span {
    color: var(--solarized-base01);
  }

  .credits a {
    color: var(--solarized-violet);
  }
}
