body {
    margin: 0;
    padding: 0;

    background-color: #FDF6E3;

    font-family: 'Montserrat', sans-serif;
}

.page {
    margin: 0 auto;

    width: 650px;

    line-height: 1.5;
}

/* .menu { */
/*     font-size: 18px; */
/* } */

/* .menu ul { */
/*     margin: 0; */
/*     padding-inline-start: 0; */

/*     list-style-type: none; */
/* } */

/* .menu li { */
/*     padding: 0 30px 3px 0; */

/*     float: left; */
/* } */

/* .menu a { */
/*     color: black; */
/*     text-decoration: none; */
/*     border-bottom: 2px solid black; */
/* } */

/* .menu a:hover { */
/*     border-bottom: 0px; */
/* } */

.about {
    font-size: 16px;
}

.about p {
    margin: 0;
}

.photo {
    margin: 0 auto;

    width: 135px;
    height: 135px;
}

.photo img {
    width: 100%;

    border-radius: 100%;
}

.description-short {
    height: 120px;
}

.contacts {
    width: 392px;

    float: left;
}

.contacts ul {
    margin: 0;
    padding-inline-start: 0;

    list-style-type: none;
}

.contacts a {
    color: blue;
}

.contacts a:hover {
    text-decoration: none;
}

.cv {
    width: 120px;
    height: 120px;

    display: inline-block;

    background: url(../images/cv-color.png) no-repeat;
    background-position: center;
    background-size: 100%;
}

.cv:hover {
    background: url(../images/cv-black.png) no-repeat;
    background-position: center;
    background-size: 100%;
}

.cv a {
    height: 100%;

    display: block;
}

/* https://css-tricks.com/snippets/css/css-only-image-preloading */
.cv-preload-image {
    background: url(../images/cv-black.png) no-repeat -9999px -9999px;
}

.description-long h1 {
    margin: 0;

    font-size: 18px;
    line-height: 1.3;
}

.description-long h1 a {
    color: black;
    text-decoration: none;
}

.description-long h1 a:hover {
    text-decoration: underline;
}

.description-long p {
    text-align: justify;
}

.latest-projects-and-roles a {
    color: blue;
}

.latest-projects-and-roles a:hover {
    text-decoration: none;
}

.latest-projects-and-roles span {
    color: gray;
}

.education a {
    color: blue;
}

.education a:hover {
    text-decoration: none;
}

.education ul {
    margin: 0;
    padding-inline-start: 18px;

    list-style-type: circle;
}
