/* https://github.com/altercation/solarized#precision-colors-for-machines-and-people */
/* https://github.com/altercation/solarized/tree/master/iterm2-colors-solarized#the-values */
:root {
    --solarized-base1: #93a1a1;
    --solarized-base3: #FDF6E3;
    --black-color: black;
    --blue-color: blue;
}

body {
    background-color: var(--solarized-base3);
    color: var(--black-color);
}

.contacts a {
    color: var(--blue-color);
}

.cv a {
    color: var(--blue-color);
}

.picture {
    background-image: url("../images/cv-black.png");
    background-size: 100%;
}

.latest-projects-and-roles a {
    color: var(--blue-color);
}

.latest-projects-and-roles span {
    color: var(--solarized-base1);
}

.education a {
    color: var(--blue-color);
}

.credits a {
    color: var(--blue-color);
}
