@media screen and (max-width: 640px) {
    .contacts {
        width: 75%;

        font-size: 18px;
    }

    .contacts a:hover {
        text-decoration: underline;
    }

    .cv {
        width: 25%;

        font-size: 18px;
    }

    .cv:hover a {
        text-decoration: underline;
    }

    .picture {
        width: 108px;
        height: 108px;
    }

    .picture a {
        height: 108px;
    }

    .technology-list ul {
        padding-inline-start: 23px;
    }

    .domain-list ul {
        width: 560px;

        padding-inline-start: 23px;

        columns: 1;
    }

    .latest-projects-and-roles a:hover {
        text-decoration: underline;
    }

    .education a:hover {
        text-decoration: underline;
    }

    .education ul {
        padding-inline-start: 23px;
    }

    .credits a:hover {
        text-decoration: underline;
    }
}
