@media print {
  .about a {
    text-decoration: none;
    color: var(--solarized-base03);
  }

  .cv {
    display: none;
  }

  .domain-list ul {
    columns: 2;
  }

  .technology-list {
    page-break-after: always;
  }

  .latest-projects-and-roles a {
    font-weight: bold;
  }
}

@media print and (prefers-color-scheme: dark) {
  .about a {
    color: var(--solarized-base0);
  }
}
