body {
    background-color: #FDF6E3;
    font-family: 'Montserrat', sans-serif;
}

#about {
    /* How to center an element horizontally and vertically */
    /* https://stackoverflow.com/a/28336352/3483708 */
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;

    max-height: 85%;
}

#contacts {
    padding: 0;
    list-style-type: none;
}

#contacts li {
    padding: 1px 0;
}

@media screen and (max-width: 1023px) {
    #about {
        width: 70%;
    }

    #contacts li {
        padding: 3px 0;
    }
}

@media screen and (max-width: 767px) {
    #about {
        width: 80%;
    }

    #contacts li {
        padding: 3px 0;
    }
}
